{
    "SPH Density Monitor": {
        "model": {},
        "geometry_properties": null,
        "triangle_scalars": null,
        "geometry_triangle_properties": null,
        "particle_scalars": null,
        "adhesion_model": null,
        "material_interaction_properties": null,
        "particle_contact_scalars": null,
        "triangle_contact_scalars": null,
        "particle_input_properties": null,
        "particle_group_properties": null,
        "material_properties": null
    },
    "Contacts Overlap Monitor": {
        "model": {
            "level1": {
                "caption": "Overlap Warning Level #1",
                "value": 2.5,
                "unit": "%",
                "category": null
            },
            "level2": {
                "caption": "Overlap Warning Level #2",
                "value": 10.0,
                "unit": "%",
                "category": null
            },
            "level3": {
                "caption": "Overlap Warning Level #3",
                "value": 20.0,
                "unit": "%",
                "category": null
            }
        },
        "geometry_properties": null,
        "triangle_scalars": null,
        "geometry_triangle_properties": null,
        "particle_scalars": null,
        "adhesion_model": null,
        "material_interaction_properties": null,
        "particle_contact_scalars": null,
        "triangle_contact_scalars": null,
        "particle_input_properties": null,
        "particle_group_properties": null,
        "material_properties": null
    }
}